/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';
@import 'assets/css/cms.css';


.roboto {
    font-family: Roboto, sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.flip-x {
    transform: scaleX(-1);
}

.darken {
    filter: brightness(70%);
}
