/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';
@import 'assets/css/cms.css';


.roboto {
    font-family: Roboto, sans-serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

/** @TODO: This is very bad. Including client sites in here **/
.neo {
    font-family: 'GFS Neohellenic', serif;
}

.flip-x {
    transform: scaleX(-1);
}

.darken {
    filter: brightness(70%);
}

.bg-black-transparent-85 {
    background-color: rgba(0,0,0,0.85);
}

.bg-blue-transparent-85 {
    background-color: rgba(0,0,32,0.85);
}

.bg-black-transparent-50 {
    background-color: rgba(0,0,0,0.5);
}

.text-massive {
    font-size: 10rem;
}
